<table class="table table-hover">
    <tr>
      <th>Id</th>   
      <th>PK</th>   
      <th>Patient Name</th>    
      <th>Appointment Type</th>    
      <th>Doctor Name</th>    
      <th>Appointment DateTime</th>    
    </tr>
    <tr *ngFor="let app of service.list">
      <td (click)="populateForm(app)">{{app.idAppointment}}</td>
      <td (click)="populateForm(app)">{{app.idPatient}}</td>
      <td (click)="populateForm(app)">{{app.patientName}}</td>
      <td (click)="populateForm(app)">{{app.appointmentType}}</td>
      <td (click)="populateForm(app)">{{app.doctorName}}</td>
      <td (click)="populateForm(app)">{{app.AppointmentDateTime | date:'medium'}}</td>
      <!-- <td><button class="btn btn-sm btn-outline-danger">&#935;</button></td> -->
      <td><button (click)="onDelete(app.idAppointment)" class="btn btn-sm btn-outline-danger">&#935;</button></td>
    </tr>
  </table>