<form #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="idPatient" #idPatient="ngModel" [(ngModel)]="service.formData.idPatient">
  <div class="form-group">
    <label>Name</label>
    <input name="patientName" #patientName="ngModel" [(ngModel)]="service.formData.patientName" class="form-control" required>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Identification Card</label>
      <input name="patientIdCard" #patientIdCard="ngModel" [(ngModel)]="service.formData.patientIdCard" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
      <label>Gender</label>
      <input name="patientGender" #patientGender="ngModel" [(ngModel)]="service.formData.patientGender" class="form-control" required>
    </div>
  </div>

  <div class="form-row">    
    <div class="form-group col-md-6">
      <label>Phone</label>
      <input name="patientPhone" #patientPhone="ngModel" [(ngModel)]="service.formData.patientPhone" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label>Birthday (MM/dd/yyyy)</label>
      <input name="patientBirth" placeholder="07/23/1984" #patientBirth="ngModel" [(ngModel)]="service.formData.patientBirth" class="form-control" required>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>