<div class="jumbtron">
  <br>
  <h2 class="display-5 text-center">Appointments Management</h2>
  <!-- <br> -->
  <p>In this area you can find Appointments Administration. To create a new one you must enter all 
    the information requested in the form. To edit an appointment you can click on the corresponding row, 
    and modify what you need within the same creation form. To delete an appointment you can click on de X
    button, just remember that appointments cannot be canceled less than 24 hours in advance.</p>
  <br>
  <div class="row">
    <div class="col-md-5">
      <app-appointment></app-appointment>
    </div>
    <div class="col-md-7 scroll_list">
      <app-appointment-list></app-appointment-list>
    </div>
  </div>
</div>