<table class="table table-hover">
  <tr>
    <th>PK</th>   
    <th>Name</th>   
    <th>Identification Card</th>    
    <th>Gender</th>    
    <th>Phone</th>    
    <th>Birthday</th>    
  </tr>
  <tr *ngFor="let pat of service._list">
    <td (click)="populateForm(pat)">{{pat.idPatient}}</td>
    <td (click)="populateForm(pat)">{{pat.patientName}}</td>
    <td (click)="populateForm(pat)">{{pat.patientIdCard}}</td>
    <td (click)="populateForm(pat)">{{pat.patientGender}}</td>
    <td (click)="populateForm(pat)">{{pat.patientPhone}}</td>
    <td (click)="populateForm(pat)">{{pat.patientBirth | date:'mediumDate'}}</td>
    <td><button (click)="onDelete(pat.idPatient)" class="btn btn-sm btn-outline-danger">&#935;</button></td>
  </tr>
</table>