<div class="jumbtron">
  <h2 class="display-5 text-center">Patients Management</h2>
  <!-- <br> -->
  <p>In this area you can find Patient Administration. To create a new one you must enter all 
    the information requested in the form. To edit a patient you can click on the corresponding row, 
    and modify what you need within the same creation form. To delete a patient you can click on de X
    button, just remember that you cannot delete a patient with assigned Appointments.</p>
  <br>
  <div class="row">
    <div class="col-md-5">
      <app-patient></app-patient>
    </div>
    <div class="col-md-7 scroll_list">
      <app-patient-list></app-patient-list>
    </div>
  </div>
</div>